[submodule "Engine/SubModules/UnityNEAT"]
	path = Engine/SubModules/UnityNEAT
	url = https://github.com/lordjesus/UnityNEAT.git
[submodule "Engine/SubModules/SaveSystem"]
	path = Engine/SubModules/SaveSystem
	url = https://github.com/IntoTheDev/Save-System-for-Unity
[submodule "Engine/SubModules/Smart-Inspector-0.8.0-pre.1"]
	path = Engine/SubModules/Smart-Inspector-0.8.0-pre.1
	url = https://github.com/PixeyeHQ/https://github.com/neon-age/Smart-Inspector
